.specialOffers-section {
    background-color: #EBE9EA;
}

.special-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.special-container h4 {
    font-size: 40px;
    font-weight: 700;
    text-align: start;
    padding-bottom: 10px;
}

.special-container h5 {
    font-size: 28px;
    font-weight: 700;
    text-align: start;
    padding-bottom: 10px;
}

.vendors {
    background-color: #EBE9EA;
}

.vendors-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.vendors-container h4 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    font-family: Playfair display;
    color: #333333;
}

.vendors-container p {
    font-size: 18px;
    color: #6D6D6D;
    font-weight: 200;
    margin-top: 10px;
}

.card-img-top {
    /* border-radius: 20px; */
    border-radius: 20px 20px 0 0;
}

.contact-section {
    background-color: #333333;
}

.contact-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-container h4 {
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 10px;
}

.contact-container p {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 10px;
}

.contact-container .sub-contact a {
    /* font-size: 20pt; */
    display: block;
    color: white;
    text-decoration: none;
}

.contact-container .sub-contact a:hover {
    /* font-size: 20pt; */
    text-decoration: underline;
    color: black;
}

.card {
    border-radius: 20px;
}

.figure img {
    width: 230px;
    height: 300px;
}

.figure figcaption h5 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    color: #E3BD6A;
    text-align: center;
}

.figure figcaption p {
    font-size: 16px;
    font-weight: bold;
    color: #ACACAC;
    margin-top: -5px !important;
    text-align: center;
}

.figure figcaption a {
    background-color: #758578;
    border-radius: 20px;
    display: block;
}

.events-section {
    background-color: #758578;
}

.events-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.events-container h4 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    font-family: Playfair display;
    color: #333333;
}

.gallery-section {
    background-color: #E3BD6A;
}

.gallery-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.gallery-container h4 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    font-family: Playfair display;
    color: #333333;
}

.venue-contents img {
    width: 20vw;
    padding: 10px;
    max-height: 27vh;
}

.venue-contents span {
    font-family: 'Donegal One', serif;
    font-size: 13pt;
}

.catalogue-section {
    background-color: #EBE9EA;
}

.catalogue-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.catalogue-container h4 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}