.about-section {
    background-color: #DBDBDB;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-container h5 {
    font-size: 28px;
    font-weight: 700;
    text-align: start;
    padding-bottom: 10px;
}

.catalogue-section {
    background-color: #DBDBDB;
}

.catalogue-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.catalogue-container h4 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.outlet-section {
    background-image: url("../image/sutleng/waves/wave.png");
}

.outlet-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.outlet-container h4 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.contact-section {
    background-image: url("../image/sutleng/waves/contact.svg");
}

.gallery-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.gallery-container h4 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.contact-section {
    background-color: #333333;
}

.contact-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-container h4 {
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 10px;
}

.contact-container p {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 10px;
}

.contact-container .sub-contact a {
    /* font-size: 20pt; */
    display: block;
    color: white;
    text-decoration: none;
}

.contact-container .sub-contact a:hover {
    /* font-size: 20pt; */
    text-decoration: underline;
    color: black;
}